quartz/static/**/*.png filter=lfs diff=lfs merge=lfs -text
quartz/static/**/*.jpg filter=lfs diff=lfs merge=lfs -text
quartz/static/**/*.woff2 filter=lfs diff=lfs merge=lfs -text
quartz/static/**/*.ttf filter=lfs diff=lfs merge=lfs -text
